<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>InsightHub CMS - Blog Post</title>
    <link rel="stylesheet" href="/public/css/styles.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

  </head>
  <body>
    <header>
      <h1>Blog Post Title</h1>
      <p>Author: John Doe | Published on: January 1, 2023</p>
    </header>
    <main>
      <article>
        <p>This is the content of the blog post...</p>
      </article>
    </main>
    <footer>
      <p>&copy; 2025 BlogSphere. All Rights Reserved.</p>
      <p>@jayChoksi</p>
      <a href="#">Back to Home</a> | <a href="#">Contact Us</a> |
      <a href="#">Privacy Policy</a>
    </footer>
  </body>
</html>
