<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dynamic Blog CMS - Home</title>
    <link rel="stylesheet" href="/public/css/styles.css" />
  </head>
  <body>
    <header>
      <h1>Welcome to InsightHub CMS</h1>
      <p>Create, share, and explore amazing blog posts.</p>
      <a href="/blogs" class="btn">View Blogs</a>
    </header>
        <footer>
      <p>&copy; 2025 BlogSphere. All Rights Reserved.</p>
      <p>@jayChoksi</p>
      <a href="#">Back to Home</a> | <a href="#">Contact Us</a> |
      <a href="#">Privacy Policy</a>
    </footer>
  </body>
</html>
